@switch (variant) {
	@case ('basic') {
		<a mat-button [disabled]="disabled" [color]="color" [routerLink]="link">
			@if (icon) {
				<mat-icon>{{ icon }}</mat-icon>
			}
			{{ leyend }}
		</a>
	}
	@case ('raised') {
		<a mat-raised-button [disabled]="disabled" [color]="color" [routerLink]="link">
			@if (icon) {
				<mat-icon>{{ icon }}</mat-icon>
			}
			{{ leyend }}
		</a>
	}
	@case ('stroked') {
		<a mat-stroked-button [disabled]="disabled" [color]="color" [routerLink]="link">
			@if (icon) {
				<mat-icon>{{ icon }}</mat-icon>
			}
			{{ leyend }}
		</a>
	}
	@case ('flat') {
		<a mat-flat-button [disabled]="disabled" [color]="color" [routerLink]="link">
			@if (icon) {
				<mat-icon>{{ icon }}</mat-icon>
			}
			{{ leyend }}
		</a>
	}
	@case ('icon') {
		<a mat-icon-button [disabled]="disabled" [color]="color" [attr.aria-label]="label" [routerLink]="link" [matTooltip]="tooltip">
			@if (icon) {
				<mat-icon>{{ icon }}</mat-icon>
			}
		</a>
	}
	@case ('fab') {
		<a mat-fab [disabled]="disabled" [color]="color" [attr.aria-label]="label" [routerLink]="link" [matTooltip]="tooltip">
			@if (icon) {
				<mat-icon>{{ icon }}</mat-icon>
			}
		</a>
	}
	@case ('mini-fab') {
		<a mat-mini-fab [disabled]="disabled" [color]="color" [attr.aria-label]="label" [routerLink]="link" [matTooltip]="tooltip">
			@if (icon) {
				<mat-icon>{{ icon }}</mat-icon>
			}
		</a>
	}
}
