/* ! FILTER */
#filter {
  padding: 24px 12px;

  & mat-form-field {
    width: 100%;
    margin-bottom: -20px;
  }
}

/* ! TABLE */

table tr th {
  font-size: 16px;
  font-weight: 500;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.mat-column-title p {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-word;
  -webkit-line-clamp: 1;
  height: fit-content;
}

.mat-column-actions {
  width: 180px;

  &>div {
    padding: 8px 0;
  }
}

/* ! MEDIA */
@media (width < 768px) {
  #filter {
    grid-template-columns: 1fr;
  }
}

@media (width >=768px) {
  #filter {
    grid-template-columns: repeat(2, 1fr);

    &>div:last-child {
      grid-column: span 2;
    }
  }
}

/* .mat-column-status,
.mat-column-actions {
  text-align: center;
} */

/* @media (width < 500px) {

  .mat-column-actions div app-link,
  .mat-column-actions div app-button:last-child {
    display: none;
  }

  .mat-column-actions {
    width: auto;
  }
}

@media (width < 600px) {
  .mat-column-priority {
    display: none;
  }
}

@media (width < 700px) {
  .mat-column-date {
    display: none;
  }
} */