<main class="flex col gp-36">
	<div class="flex bet align gp-24">
		<h1>Tareas</h1>

		<app-link link="/crear-tarea" variant="flat" icon="add" color="primary" leyend="Crear tarea" />
	</div>
	@switch (status()) {
		@case ('COMPLETED') {
			@if (dataSource.data.length > 0) {
				<section id="filter" class="mat-elevation-z2 grid gp-24">
					<div class="flex col gp-16">
						<strong>Estados</strong>

						<mat-form-field appearance="outline">
							<mat-icon matPrefix> flag </mat-icon>

							<mat-select placeholder="Seleccione el estado" [(value)]="selectsValues[0]" [disabled]="selectsDisabled[0]">
								<mat-option [value]="0">Todos</mat-option>

								@for (item of statuses; track $index) {
									<mat-option [value]="item.value" [disabled]="isOptionDisabled(item.value, selectsAvailable[0])">
										{{ item.label }}
									</mat-option>
								}
							</mat-select>
						</mat-form-field>
					</div>

					<div class="flex col gp-16">
						<strong>Prioridades</strong>

						<mat-form-field appearance="outline">
							<mat-icon matPrefix> priority_high </mat-icon>

							<mat-select placeholder="Seleccione la prioridad" [(value)]="selectsValues[1]" [disabled]="selectsDisabled[1]">
								<mat-option [value]="0">Todas</mat-option>

								@for (item of priorities; track $index) {
									<mat-option [value]="item.value" [disabled]="isOptionDisabled(item.value, selectsAvailable[1])">
										{{ item.label }}
									</mat-option>
								}
							</mat-select>
						</mat-form-field>
					</div>

					<div class="flex end">
						<app-button
							(actionClick)="applyFilter()"
							leyend="Filtrar"
							variant="flat"
							icon="search"
							color="primary"
							[disabled]="selectsLog[0] === selectsValues[0] && selectsLog[1] === selectsValues[1]"
						/>
					</div>
				</section>

				<div class="flex col gp-36">
					@if (dataSource.data.length > 1) {
						<div class="flex end gp-16">
							<app-button (actionClick)="removeAllTasks()" variant="flat" icon="delete" color="warn" leyend="Borrar tareas" />

							@if (showCompleteButton) {
								<app-button
									(actionClick)="completAllTasks()"
									variant="raised"
									icon="check_circle"
									color="primary"
									leyend="Completar tareas"
								/>
							}
						</div>
					}

					<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2">
						<ng-container matColumnDef="title">
							<th mat-header-cell *matHeaderCellDef>Título</th>

							<td mat-cell *matCellDef="let row">
								<p>{{ row.title }}</p>
							</td>
						</ng-container>

						<ng-container matColumnDef="status">
							<th mat-header-cell *matHeaderCellDef>Estado</th>

							<td mat-cell *matCellDef="let row">{{ statuses[row.status - 1].label }}</td>
						</ng-container>

						<ng-container matColumnDef="priority">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>Prioridad</th>

							<td mat-cell *matCellDef="let row">{{ priorities[row.priority - 1].label }}</td>
						</ng-container>

						<ng-container matColumnDef="date">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>

							<td mat-cell *matCellDef="let row">{{ row.updatedAt || row.createdAt | timestamp }}</td>
						</ng-container>

						<ng-container matColumnDef="actions">
							<th mat-header-cell *matHeaderCellDef>Acciones</th>

							<td mat-cell *matCellDef="let row">
								<div class="flex align gp-8">
									<app-button (actionClick)="viewTask(row)" variant="icon" icon="visibility" color="primary" label="Ver" tooltip="Ver" />

									<app-link [link]="'editar-tarea/' + row.id" variant="icon" icon="edit" color="accent" label="Editar" tooltip="Editar" />

									<app-button
										(actionClick)="removeTask(row.id, row.title)"
										variant="icon"
										icon="delete"
										color="warn"
										label="Eliminar"
										tooltip="Eliminar"
									/>
								</div>
							</td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="columns"></tr>
						<tr mat-row *matRowDef="let row; columns: columns"></tr>

						<tr *matNoDataRow>
							<td colspan="4">
								<p>No hay tareas</p>
							</td>
						</tr>
					</table>
				</div>
			} @else {
				<div class="grid place">
					<h2>No hay tareas registradas</h2>
				</div>
			}
		}
		@case ('ERROR') {
			<div class="grid place">
				<h2>Ocurrio un error</h2>
			</div>
		}
		@case ('DELETING') {
			<div class="grid place">
				<h2>Eliminando tareas ({{ dataSource.data.length }})</h2>
			</div>
		}
		@case ('COMPLETING') {
			<div class="grid place">
				<h2>Completando tareas</h2>
			</div>
		}
		@default {
			<div class="grid place">
				<h2>Cargando tareas</h2>
			</div>
		}
	}
</main>
