:root {
  --primary: #3f51b5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* ! VIEW TRANSITION */

::view-transition-old {
  animation: exit 2s ease 0s 1 normal forwards;
}

::view-transition-new {
  animation: enter 3s ease 0s 1 normal forwards;
}

@keyframes enter {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes enter {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes exit {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes exit {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* ! TAGS */
body,
h1 {
  margin: 0;
}

main {
  min-height: 100svh;
}

h1 {
  color: var(--primary);
  font: 500 2.5rem/4rem "Sora", sans-serif;
}

/* ! GRID */
.grid {
  display: grid;
}

.place {
  place-items: center;
}

/* ! FLEX */

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

/* ! JUSTIFY */

.bet {
  justify-content: space-between;
}

.end {
  justify-content: flex-end;
}

/* ! ALIGN */

.align {
  align-items: center;
}

/* ! GAP */
.gp-8 {
  gap: 8px;
}

.gp-16 {
  gap: 16px;
}

.gp-24 {
  gap: 24px;
}

.gp-36 {
  gap: 36px;
}

/* ! MEDIA */

@media (width < 768px) {
  main {
    padding: 12px;
  }
}

@media (width >=768px) {
  main {
    padding: 24px;
  }
}

@media (width >=1024px) {
  main {
    padding: 48px;
  }
}

@media (width > 1600px) {
  main {
    max-width: 1600px;
    margin: 0 auto;
  }
}